/* src/Dashboard.css */

body, html, #root {
    height: 100%;
    margin: 0;
  }
  
  .dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .dashboard-header {
    font-family: monospace;
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
    display: flex;
    justify-content: left;
    gap: 1rem;
    }
  
  .label {
      color: #777; 
      font-family: monospace;
      font-size: 1rem;
  }
  
  .metric {
      color: #000;
      font-family: monospace;
      font-size: 1rem;
  }
  
  .map {
    flex-grow: 1;
    height: 100%;
  }
  
  @media (max-width: 768px) {
    .dashboard-header {
      font-size: 1rem;
    }
  }
  
  @media (min-width: 769px) {
    .dashboard-header {
      font-size: 1rem;
    }
  }
  